FINNHUB_KEY=d8fkql1r01qn443afnc0d8fkql1r01qn443afncg
DISCORD_WEBHOOK=https://discord.com/api/webhooks/1511498974513598596/759w65utjOsHA7KtRfbL1O0vlbpoFkO7_GGg0V4heYOLRy3BigT2Oed1LWb5j8zvRlma
NODE_ENV=production
